.search-bar-container {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: 314455;
    border-radius: 1px;
}

.search-icon {
    margin-right: 10px;
}

.search-bar {
    display: inline-block;
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
    color: 314455;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu {
    width: 100%;
    background-color: white;
    color: 314455;
    padding: 0;
    border-radius: 1px;
}

.no-results-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-result-item {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.search-result-item:hover {
    background-color: #314455;
    color: white;
    cursor: pointer;
    > .user-avatar {
        color: white;
    }
}

.user-avatar {
    font-size: 40px;
    margin-right: 20px;
    color: #314455;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    cursor: pointer;
}