<div *ngIf="isCurrentUserPage()">
  <div class="header-container">
    <div class="profile-picture-container cursor-pointer" (mouseenter)="showUpdatePictureInfo=true"
      (mouseleave)="showUpdatePictureInfo=false" (click)="uploadProfilePicture()">
      <i class="far fa-user-circle profile-picture"
        *ngIf="!hasProfilePicture()"></i>
      <img class="profile-picture" *ngIf="hasProfilePicture()"
        src="{{getProfilePictureLink()}}">
      <div class="update-picture-info" *ngIf="showUpdatePictureInfo">Edit</div>
      <input type="file" #file style="display: none" accept="image/*"
        (change)="profilePictureFileSelectionChanged($event)" />
    </div>
    <div class="name cursor-pointer" (mouseenter)="showUpdateFullNameIcon=true" (mouseleave)="showUpdateFullNameIcon=false"
      data-toggle="modal" data-target="#editFullNameModal" (click)="initializeEditFullNameModal()">
      {{(user$ | async).fullName}}<i class="fa fa-edit full-name-edit-icon"
        *ngIf="showUpdateFullNameIcon"></i>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editFullNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Full Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="edit-name-input" [(ngModel)]="editFullNameValue">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary edit-button" (click)="editFullName()"
            data-dismiss="modal">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isCurrentUserPage()">
  <div class="header-container">
    <div class="profile-picture-container">
      <i class="far fa-user-circle profile-picture"
        *ngIf="!hasProfilePicture()"></i>
      <img class="profile-picture" *ngIf="hasProfilePicture()"
        src="{{getProfilePictureLink()}}">
    </div>
    <div class="name">
      {{(user$ | async).fullName}}
    </div>
</div>