.post-container {
    border-radius: 1px;
    -webkit-box-shadow: 0px 4px 25px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 25px -8px rgba(0, 0, 0, 0.3);
    background-color: #314455;
    padding: 30px;
    color: darkslategrey;
    margin-bottom: 20px;
}

.message {
    font-size: 1.5rem;
    color: white;
}

.delete-button {
    text-align: right;
}

.delete-button span {
    cursor: pointer;
}

.likes {
    text-align: right;
    padding-top: 10px;
    padding-right: 0px;
}

.likes button {
    width: 35px;
    padding: 3px;
    padding-left: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.likes button:last-child {
    margin-right: 0px;
}

.like-count {
    color: white;
}