.post-container {
    border-radius: 1px;
    -webkit-box-shadow: 0px 4px 25px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 25px -8px rgba(0, 0, 0, 0.3);
    background-color: #314455;
    padding: 30px;
    color: darkslategrey;
    margin-bottom: 20px;
}

.message {
    color: white;
    margin-left: 60px;
}

.likes {
    text-align: right;
    padding-top: 10px;
    padding-right: 0px;
}

.likes button {
    width: 35px;
    padding: 3px;
    padding-left: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.likes button:last-child {
    margin-right: 0px;
}

.like-count-number {
    color: white;
    font-weight: 700;
}

.like-count-text {
    color: white;
    opacity: 0.8;
    margin-left: 3px;
}


.like-count {
    color: white;
}

.like-count-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.like-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.like-button {
    border-radius: 1px;
    width: 100px;
    background-color: #257D3D;
    border-color: #257D3D;
    color: white;
}

.owner-name {
    color: white;
    vertical-align: top;
    font-weight: 700;
    cursor: pointer;
}

.name-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-avatar {
    font-size: 40px;
    margin-right: 20px;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    cursor: pointer;
}

.comment-user-avatar {
    font-size: 30px;
    margin-right: 20px;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    margin-top: 5px;
    cursor: pointer;
}

.options-dropdown {
    color: white;
    cursor: pointer;
}

.options-menu-dropdown {
    background-color: #314455;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px -1px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px -1px rgba(255,255,255,1);
    left: -140px !important;
    color: white;
    padding: 0px;
}

.dropdown-item {
    cursor: pointer;
    color: white;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: rgba(#c96567, 0.2);
}

.add-comment-input-container {
    display: flex;
    align-items: center;
}

.add-comment-input {
    width: 100%;
    padding-left: 10px;
    font-size: 14px;
}

.comments-section-container {
    margin-top: 30px;
}

.add-comment-form {
    width: 100%
}

.user-comments-container {
    margin-top: 20px;
}

.comment-entry {
    color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.comment-content-container {
    display: flex;
    flex-direction: column;
}

.comment-user-name {
    font-weight: 700;
    cursor: pointer;
}

.no-margin-top {
    margin-top: 0px !important;
}

.cursor-default {
    cursor: default !important;
}

.comment-options-dropdown {
    margin-left: auto;

}

.comment-more-options {
    cursor: pointer;
}