.form-container {
    margin: auto;
    border-radius: 1px;
    width: 40%;
    height: auto;
    -webkit-box-shadow: 0px 4px 25px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 25px -8px rgba(0, 0, 0, 0.3);
    background-color: #314455;
    padding: 30px;
}

.input {
    height: calc(1.5em + .75rem + 20px);
    font-size: 1.3rem;
    resize: none;
    height: 70px;
    border-radius: 0px;
    border: none;
}

.submit-button {
    font-size: 1.3rem;
    background-color: #97aabd;
    border-radius: 0px;
    border-color: #97aabd;
    margin-right: 0;
    margin-left: auto;
    display: block;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 0px;
}