.navbar-container {
    width: 100%;
    background-color: #644e5b;
    height: 60px;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.6);
    position: -webkit-fixed;
    position: fixed;
    z-index: 9999;
}

.navbar-row {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-left {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.row-right {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.logo {
    color: white;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.profile-picture {
    color: white;
    font-size: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dropdown.user-dropdown { 
    position: relative;
    margin-right: 40px;
    width: 20px;
 }
.dropdown-menu.profile-menu-dropdown{ 
    display: none;
    width: 200px;
    position: absolute;
    left: -170px;
    border-radius: 1px;
    background-color: #314455;
    -webkit-box-shadow: 0px 4px 25px -8px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 25px -8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    top: 28px;
    z-index: 9999;
}

.dropdown-menu.profile-menu-dropdown > .dropdown-item{ 
    display: block;
    margin: 5px 0px;
    color: lightgray;
    padding: 0;
}

.dropdown-item:focus {
    outline: 0;
    background-color: transparent;
}

.dropdown-menu.profile-menu-dropdown > .dropdown-item:hover{ 
    background-color: transparent;
    cursor: pointer;
}

.dropdown-menu.profile-menu-dropdown:hover,
.dropdown.user-dropdown:hover > .dropdown-menu.profile-menu-dropdown{
    display: block;
}

.dropdown-menu.profile-menu-dropdown > .profile-name,
.dropdown-menu.profile-menu-dropdown > .profile-email{ margin: 0; }

.dropdown-menu.profile-menu-dropdown > .profile-name{ color: white; }
.dropdown-menu.profile-menu-dropdown > .profile-email{ 
    font-size: 13px;
    color: lightgray;
    margin-bottom: 20px;
}

.dropdown.user-dropdown > .top-bar-icon-bg { margin-right: 0;}
.dropdown.user-dropdown:hover {
    .profile-picture {
        color: #314455;
        cursor: pointer;
    }
}

.home-button {
    color: white;
    font-weight: 700;
    margin-right: 30px;
    cursor: default;
}

.home-button > span:hover {
    cursor: pointer;
    color: #314455;
}

.home-button > span:focus {
    outline: 0;
}

.search-bar-container {
    margin-left: 40px;
    width: 100%;
}